{% extends 'healthcare/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}

<div>
  <div class="panel-body">
    <form id="contact" class="search-container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <style>
        input#id_username{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
          &:focus{
            border: 1px solid #008ABF;
            transition: 0.35s ease;
            color: #008ABF;
            &::-webkit-input-placeholder{
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &::-moz-placeholder {
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &:-ms-placeholder {
             transition: opacity 0.45s ease;
          	 opacity: 0;
             }
           }
        }
        input#id_password{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
          &:focus{
            border: 1px solid #008ABF;
            transition: 0.35s ease;
            color: #008ABF;
            &::-webkit-input-placeholder{
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &::-moz-placeholder {
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &:-ms-placeholder {
             transition: opacity 0.45s ease;
          	 opacity: 0;
             }
           }
           &::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}
        }
        </style>
        <div style="float:center;">
          <center><h2 style="color: #F96;	display: block;	font-size: 30px;font-weight: 400;">Login<h2><br /></center>
        {% if message %}
            {{ message }}
        {% endif %}
        {% comment %} {% for field in form %}
        <center><div class="form-group">
            <label class="control-label col-sm-2" style="font-size:15px;color: #F96;	display: block;">{{ field.label_tag }}</label>
            <div class="search-container">{{ profile_form }}</div>
            <!-- <input class="form-control" type="" id="search-bar" placeholder="{{ field.placeholder }}"><br /> -->
            <!-- {{ field }} -->
        </div>
        </center>
        {% endfor %} {% endcomment %}
        <center><div class="form-group">
            <label class="control-label col-sm-2" style="font-size:15px;color: #F96;	display: block;"><label for="id_username">username:</label></label>
            <div class="search-container"><input type="text" name="username" placeholder="Username" class="form-control" id="id_username" required=""></div>
            <!-- <input class="form-control" type="" id="search-bar" placeholder=""><br /> -->
            <!-- <input type="text" name="username" placeholder="Username" class="form-control" id="search-bar" required> -->
        </div>
        </center>
        <center><div class="form-group">
            <label class="control-label col-sm-2" style="font-size:15px;color: #F96;	display: block;"><label for="search-bar">password:</label></label>
            <div class="search-container"><input type="password" name="password" placeholder="Password" class="form-control" id="search-bar" required=""></div>
            <!-- <input class="form-control" type="" id="search-bar" placeholder=""><br /> -->
            <!-- <input type="password" name="password" placeholder="Password" class="form-control" id="search-bar" required> -->
        </div>
        </center>
        <script>
        $('#id_username').attr('placeholder', 'Username');
        $('#id_password').attr('placeholder', 'Password');
        </script>
        <div class="form-group">

            <center><button class="button-three">Login</button></center>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
